CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
out/
run/
bin/log/
bin/light_test/
bin/*.lib
bin/*.a
bin/td*
bin/md*
bin/*.pdb
bin/record/